<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title></title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta th:content="${achievement}" name="title" />
    <meta th:content="${achievementInfo}
${achievementStats}" name="description" />
    <meta th:content="${imgUrl}" property="og:image" />
</head>
<body style="padding: 0 0 5px 20px;">

<h1 th:text="${achievement}"></h1>
<img th:src="${imgUrl}" th:alt="${achievement}" />

</body>
</html>